{% extends 'base.html' %}

{% block title %}
Recipe Create
{% endblock %}

{% block content %}
<div class="mt-3">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.errors }}
        <div class="form-group mb-3">
            {{ form.title }}
        </div>
        <div class="form-group mb-3">
            {{ form.instruction }}
        </div>
        <div class="form-group mb-3">
            {{ form.category }}
        </div>
        <div id="ingrs">
            {% for ingr in form.ingredients.initial %}
                <div id="ingr_{{ forloop.counter0 }}" class="row mb-1">
                    <div class="col-8">
                        <input id="name_{{ forloop.counter0 }}" type="text" class="form-control" placeholder="name"
                        name="name_{{ forloop.counter0 }}" value="{{ ingr.name }}" required>
                    </div>
                    <div class="col-2">
                        <input id="value_{{ forloop.counter0 }}" type="text" class="form-control" placeholder=value
                        name="value_{{ forloop.counter0 }}" value="{{ ingr.value }}">
                    </div>
                    <div class="col-1">
                        <input id="measure_{{ forloop.counter0 }}" type="text" class="form-control" placeholder="measure"
                        name="measure_{{ forloop.counter0 }}" value="{{ ingr.measure }}">
                    </div>
                    <div class="col-1">
                        <a type="button" class="btn btn-outline-success" onclick="removeIngr({{ forloop.counter0 }})">Remove</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <a type="button" class="btn btn-outline-success" onclick="addIngr()">Add ingredient</a>
        </div>
        <div class="form-group mb-3">
            {{ form.author }}
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function addIngr() {
        let ingrDiv = document.getElementById("ingrs")
        let newIngrId = ingrDiv.children.length
        let newRow = document.createElement("div")
        newRow.setAttribute("id", `ingr_${newIngrId}`)
        newRow.setAttribute("class", "row mb-1")
        const attrSizeMap = new Map([
            ["name", 8],
            ["value", 2],
            ["measure", 1],
        ])
        attrSizeMap.forEach((value, key) => {
            let attrDiv = document.createElement("div")
            attrDiv.setAttribute("class" , `col-${value}`)
            let attrInput = document.createElement("input")
            attrInput.setAttribute("id", `${key}_${newIngrId}`)
            attrInput.setAttribute("name", `${key}_${newIngrId}`)
            attrInput.setAttribute("type", "text")
            attrInput.setAttribute("class", "form-control")
            attrInput.setAttribute("placeholder", `${key}`)
            if ( key == "name" ) {
                attrInput.setAttribute("required", true)
            }
            attrDiv.appendChild(attrInput)
            newRow.appendChild(attrDiv)
        })
        let delButton = document.createElement("div")
        delButton.setAttribute("class", "col-1")
        delButton.innerHTML = `
            <a type="button" class="btn btn-outline-success" onclick="removeIngr(${newIngrId})">Remove</a>
        `
        newRow.appendChild(delButton)
        ingrDiv.appendChild(newRow)
    }

    function removeIngr(ingrId) {
        let ingrRow = document.getElementById(`ingr_${ingrId}`)
        ingrRow.remove()
    }
</script>
{% endblock %}
